<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<body>
<h2>Homework week 07 - news repository</h2>

<div class="container">
    <div class="row">
        <div class="col-1">
            <a>Author</a>
        </div>
        <div class="col-3">
            <a>tittle</a>
        </div>
    </div>
</div>

<div class="container" th:each="onenew:${allnews}">
    <div class="row">
        <div class="col-1">
            <a th:text="${onenew.getAuthor()}"/>
        </div>
        <div class="col-7">
            <a th:text="${onenew.getTitle()}"/>
        </div>
        <div class="col-1">
            <a th:href="${'news/new/'+onenew.getNewsId()}">show detail</a>
        </div>
        <div class="col-2">
            <a th:href="${'news/update/'+onenew.getNewsId()}">update news</a>
        </div>
        <p>--------------------------------------------------------------------------------------</p>
    </div>
</div>

</body>
</html>