<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<body>
<h2>Homework week 07 - car repositorium</h2>

<div class="container">
    <div class="row">
        <div class="col-1">
            <a>Id</a>
        </div>
        <div class="col-2">
            <a>Model</a>
        </div>
        <div class="col-2">
            <a>Mark</a>
        </div>
        <div class="col-2">
            <a>Color</a>
        </div>
        <div class="col-2">
            <a>Production year</a>
        </div>
    </div>
</div>
<div class="container" th:each="car:${cars}">
    <div class="row">
        <div class="col-1">
            <a th:text="${car.getCarId()}"/>
        </div>
        <div class="col-2">
            <a th:text="${car.getMark()}"/>
        </div>
        <div class="col-2">
            <a th:text="${car.getModel()}"/>
        </div>
        <div class="col-2">
            <a th:text="${car.getColor()}"/>
        </div>
        <div class="col-1">
            <a th:text="${car.getProductionYear()}"/>
        </div>
        <div class="col-1">
            <a class="btn btn-outline-info" th:href="${'/cars/'+car.carId}" role="button">show</a>
        </div>
        <div class="col-1">
            <a class="btn btn-outline-primary" th:href="${'/cars/update/'+car.carId}" role="button">update</a>
        </div>
        <div class="col-1">
            <a class="btn btn-outline-danger" th:href="${'/cars/delete/'+car.carId}" role="button">remove</a>
        </div>
    </div>
</div>
<div class="container">
    <form th:action="@{/cars}" th:object="${addCar}" method="post">
        <div class="row">
            <div class="col-1">
                <input type="number" th:field="*{carId}"/>
            </div>
            <div class="col-2">
                <input type="text" th:field="*{mark}"/>
            </div>
            <div class="col-2">
                <input type="text" th:field="*{model}"/>
            </div>
            <div class="col-2">
                <input type="text" th:field="*{color}"/>
            </div>
            <div class="col-1">
                <input type="number" th:field="*{productionYear}"/>
            </div>
        </div>
        <br>
        <div class="row">
        </div>
        <div class="row">
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Add new car">
        </div>
    </form>
</div>

<div>
    <a href="http://localhost:8080/cars/years" class="btn btn-secondary btn-lg btn-block" role="button" aria-pressed="true">search cars by production years</a>
</div>

<div>
    <a href="http://localhost:8080/menu" class="btn btn-secondary btn-lg btn-block" role="button" aria-pressed="true">Back to menu </a>
</div>

</body>
</html>